<Router AppAssembly="typeof(Startup).Assembly">
    <Found>
        <RouteView RouteData="@context"/>
    </Found>
    <NotFound>
        <h4 class="display-3 text-danger text-center">Page Not Found</h4>
    </NotFound>
</Router>